<div id="landingPage">
  <div class="landingBlocks">
  	<h1>Buy simply</h1>
	<input placeholder="cars, furniture, etc" type="text" name="field" class="landingInput" />

	<p>Bidsy does more than any other auction site to ensure you're getting what you pay for. </p>

  </div>

  <div class="landingBlocks">
  	<h1>Sell beautifully</h1>
  	<a id="landingSellBtn" href="/post/new">I want to sell something</a>

  	<p>Post your car, furniture, and home appliances on a website that cares about it you. No hidden fees, less risk, and no bogus buyers.</p>

  </div>

  <div style="clear:both;"></div>
</div>