<<<<<<< HEAD
<h1>Hello World!</h1>

<a href="/post/new">Create Post</a>
=======
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bidsy.co - Sell Beautifully</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="header">
  <nav>
    <ul>
      <li>
        <a href="">
          <img src="/images/logo_inv_small.png">
        </a>
      </li>
      <li>
        <a href="#">Login</a>
      </li>
      <li>
        <a href="#">Account</a>
      </li>
      <li>
        <a href="#">Add Product</a>
      </li>
    </ul>
  </nav>
  <div style="clear: both;"></div>
</div>

<div id="container">


</div>


</body>
</html>
>>>>>>> views
