<div id="landingPage">
  <div class="landingBlocks">
  	<h1>Buy simply</h1>
	<input placeholder="cars, furniture, etc" type="text" name="field" class="landingInput" />
  </div>

  <div class="landingBlocks">
  	<h1>Sell beautifully</h1>
  	<a id="landingSellBtn" href="/post/new">I want to sell something</a>
  </div>

  <div style="clear:both;"></div>
</div>