<html>
<head>
  <title>bidsy</title>
</head>
<body>
  <% if @profile %>
    <img src="<%= @profile['thumbnail_url'] %>">
    <span><%= @profile['description'] %></span>
    <%= @profile['name'] %>
    <a href="/logout">Logout</a>
  <% else %>
    <a href="/auth/singly?service=facebook">Login</a>
  <% end %>
  <%= yield %>
</body>
</html>