<h1>Why social login?</h1>
<p>We feel one of the problems with buying things online is that it's to impersonal. How can you trust someone who wont even tell you their name? We get all the profile information about you from the social media site of your choosing. Easy for you, and trustworthy for others.</p>

<div id="logins">
  <h3>Confirm you're human:</h3>
  <a href="/auth/singly?service=facebook">
    <div class="facebook-signin"></div>
  </a> or <a href="/auth/singly?service=linkedin">
    <div class="linkedin-signin"></div>
  </a>
</div>