<div id="productLeftCol">
  <div class="productGallery">
    <img id="productImage" class="noImage" src="/images/clickToUpload.png">
  </div>

  <div id="productDetials">




    <section class="productEdits" id="titleEdits" contenteditable="true">  
      <h1>Enter title here</h1>
    </section>

    <div class="productStats editMode">
      <div class="fieldRow">
          <p class="key">Manufacturer</p>
          <p class="value" contenteditable="true">Breville</p>
      </div>
      <div class="fieldRow">
        <p class="key">Condtion</p>
        <p class="value" contenteditable="true">Like new</p>
      </div>

      <div class="breakLine">
        <p>All inputs above this line are required</p>
        <div class="horizontalLine"></div>
        <p>The more fields you select and fill out the most attractive it will be to a buyer.</p>
      </div>

      <div class="fieldRow" id="rowCreator">
        <select>
          <option>Select one</option>
          <option value="Year">Year</option>
          <option value="Dimensions">Dimensions</option>
        </select>
        <p>< Select an attribute</p>
      </div>

    </div>

    <section class="productEdits" id="descriptionEdits" contenteditable="true"> 
      <p>Enter product description here. Up to 450 characters. The best descriptions are to the point, clearly describe the condtion of what you're selling, say a little bit about your and why you're selling it, and a little humor.</p>
    </section>

    <div id="productStatsEdit">

    </div>

  </div>

</div>

<div id="productRightCol">

  <div id="publishBtn">Post</div>

  <div class="widget bidWidget">
    <p>Enter starting amount:</p>
    <input id="startAmount" type="text" placeholder="Starting Amount">
  </div>

  <div class="widget userWidget editMode">
      <img src="<%= @profile['thumbnail_url'] %>">
      <h4>Jacob Mulligan</h4>
      <p>Front end developer, designer, professional notetaker, NASA fan.</p>

      <div style="clear: both;"></div>
  </div>

</div>

<form id='HIDDENForm' action="/post/create" method="post" enctype="multipart/form-data">
  <input id="HIDDENImageName" type="file" name="image"/>
  <textarea id="HIDDENTitle" name="title"></textarea>
  <textarea id="HIDDENDescription" name="description"></textarea>
  <textarea id="HIDDENStartingPrice" name="starting-price"></textarea>
</form>

<script type="text/javascript">

// assigning Title
$('#titleEdits').focusout(function (e) {
  $('#HIDDENTitle').html($(this).text());
});

// assigning Description
$('#descriptionEdits').focusout(function (e) {
  $('#HIDDENDescription').html($(this).text());
});

// assigning Description
$('#startAmount').focusout(function (e) {
  $('#HIDDENStartingPrice').html($(this).val());
});

// assigning HIDDENImageName
$('#productImage').on('click', function (e) {
  $('#HIDDENImageName').click();
  setInterval(function () {
    $('#HIDDENImageName').html($('#HIDDENImageName').val());
  }, 1);
  return false;
});

$('#HIDDENImageName').on('change', function (e) {
  $('#productImage').attr("src", '/images/Uploaded.png');
});

// submission of hidden form
$("#publishBtn").on('click', function (e) {
  $("#HIDDENForm").submit();
});

$('#rowCreator select').on('change', function(){
  var value = $(this).val();
  $('#rowCreator').before('<div class="fieldRow"><p class="key">Condtion <span>- Delete</span></p><p class="value" contenteditable="true">Like new</p></div>');

  $('#productDetials .productStats .fieldRow .key span').click(function(){
    $(this).parent().parent().slideUp();
  });
});

</script>







