<form action="/post/create" method="POST">
  Title: <input type="text" name="title"><br>
  Starting Price: <input type="text" name="starting-price"><br>
  Description: <textarea name="description"></textarea><br>
  <input type="submit" value="Submit">
</form>