<div id="productLeftCol">
  <div class="productGallery">
    <img id="productImage" class="noImage" src="/images/clickToUpload.png">
  </div>

  <div id="productDetials">




    <section class="productEdits" id="titleEdits" contenteditable="true">  
      <h1>Enter title here</h1>
    </section>

    <div class="productStats editMode">
      <div class="row">
          <p class="key">Manufacturer</p>
          <p class="value" contenteditable="true">Breville</p>
      </div>
      <div class="row">
        <p class="key">Dimensions</p>
        <p class="value" contenteditable="true">3ft x 1ft x 1ft</p>
      </div>
      <div class="row">
        <p class="key">Condtion</p>
        <p class="value" contenteditable="true">Like new</p>
      </div>
    </div>

    <section class="productEdits" id="descriptionEdits" contenteditable="true"> 
      <p>Enter product description here. Up to 450 characters. The best descriptions are to the point, clearly describe the condtion of what you're selling, say a little bit about your and why you're selling it, and a little humor.</p>
    </section>

    <div id="productStatsEdit">

    </div>

  </div>

</div>

<div id="productRightCol">

  <div id="publishBtn">Publish</div>

  <div class="widget bidWidget">
    <p>Enter starting amount:</p>
    <input id="startAmount" type="text" placeholder="Starting Amount">
  </div>

</div>

<form id='HIDDENForm' action="/post/create" method="post" enctype="multipart/form-data">
  <input id="HIDDENImageName" type="file" name="image"/>
  <textarea id="HIDDENTitle" name="title"></textarea>
  <textarea id="HIDDENDescription" name="description"></textarea>
  <textarea id="HIDDENStartingPrice" name="starting-price"></textarea>
</form>

<script type="text/javascript">

// assigning Title
$('#titleEdits').focusout(function (e) {
  $('#HIDDENTitle').html($(this).text());
});

// assigning Description
$('#descriptionEdits').focusout(function (e) {
  $('#HIDDENDescription').html($(this).text());
});

// assigning Description
$('#startAmount').focusout(function (e) {
  $('#HIDDENStartingPrice').html($(this).val());
});

// assigning HIDDENImageName
$('#productImage').on('click', function (e) {
  $('#HIDDENImageName').click();
  setInterval(function () {
    $('#HIDDENImageName').html($('#HIDDENImageName').val());
  }, 1);
  return false;
});

// submission of hidden form
$("#publishBtn").on('click', function (e) {
  $("#HIDDENForm").submit();
});

</script>









