<div id="productLeftCol">
  <div class="productGallery">
    <img class="noImage" src="/images/clickToUpload.png">
  </div>

  <div id="productDetials">




    <section class="productEdits" id="titleEdits" contenteditable="true">  
      <h1>Enter title here</h1>
    </section>

    <div class="productStats editMode">
      <div class="row">
          <p class="key">Manufacturer</p>
          <p class="value" contenteditable="true">Breville</p>
      </div>
      <div class="row">
        <p class="key">Dimensions</p>
        <p class="value" contenteditable="true">3ft x 1ft x 1ft</p>
      </div>
      <div class="row">
        <p class="key">Condtion</p>
        <p class="value" contenteditable="true">Like new</p>
      </div>
    </div>

    <section class="productEdits" id="descriptionEdits" contenteditable="true"> 
      <p>Enter product description here. Up to 450 characters. The best descriptions are to the point, clearly describe the condtion of what you're selling, say a little bit about your and why you're selling it, and a little humor.</p>
    </section>

    <div id="productStatsEdit">

    </div>

  </div>

</div>

<div id="productRightCol">

  <div id="publishBtn">Publish</div>

  <div class="widget bidWidget">
    <p>Enter starting amount:</p>
    <input id="startAmount" type="text" placeholder="Starting Amount">
  </div>

</div>