<div id="productLeftCol">
  <div class="productGallery">
    <img id="productImage" src="/wine/1.jpeg">
  </div>

  <div id="productDetials">




    <section class="productEdits" id="titleEdits" contenteditable="true">  
      <h1>Enter title here</h1>
    </section>

    <div class="productStats">
      <div class="row">
          <p class="key">Manufacturer</p>
          <p class="value">Breville</p>
      </div>
      <div class="row">
        <p class="key">Dimensions</p>
        <p class="value">3ft x 1ft x 1ft</p>
      </div>
      <div class="row">
        <p class="key">Condtion</p>
        <p class="value">Like new</p>
      </div>
    </div>

    <section class="productEdits" id="descriptionEdits" contenteditable="true">  
      <p class="productParagraph">Enter product description here. Up to 450 characters. The best descriptions are to the point, clearly describe the condtion of what you're selling, say a little bit about your and why you're selling it, and a little humor.</p>
    </section>

    <div id="productStatsEdit">

    </div>

  </div>

</div>

<div id="productRightCol">

  <div id="publishBtn">Publish</div>

  <div class="widget bidWidget">
    <p>Enter starting amount:</p>
    <input id="startAmount" type="text" placeholder="Starting Amount">
  </div>

</div>

<form id='HIDDENForm' action="/post/create" method="post" enctype="multipart/form-data">
  <input id="HIDDENImageName" type="file" name="image"/>
</form>

<script type="text/javascript">

// assigning HIDDENImageName
$('#productImage').on('click', function (e) {
  $('#HIDDENImageName').click();
  setInterval(function () {
    $('#HIDDENImageName').html($('#HIDDENImageName').val());
  }, 1);
  return false;
});

// submission of hidden form
// $("#").on('click', function (e) {
//   $("#HIDDENForm").submit();
// });

</script>









