<!-- <h1><%= @post.title %></h1>
<%= @post.starting_price %><br>
<%= @post.description %> -->


<div id="productLeftCol">
	<div class="productGallery">
		<img src="/blender/1.jpeg">
	</div>

	<div id="productDetials">
		<h1>Refurbished Breville IKON Hemisphere</h1>

		<div class="productStats">
			<div class="row">
					<p class="key">Manufacturer</p>
					<p class="value">Breville</p>
			</div>
			<div class="row">
				<p class="key">Dimensions</p>
				<p class="value">3ft x 1ft x 1ft</p>
			</div>
			<div class="row">
				<p class="key">Condtion</p>
				<p class="value">Like new</p>
			</div>
		</div>

		<p class="productParagraph">The Breville IKON Die-Cast Hemisphere Blender is perfect for ice-crushing, blending and making your favorite smoothies or drinks. The patented hemisphere bowl blade system utilizes a large, semicircular shredding blade positioned to hug the uniquely shaped bowl. Because of this design, there are no still zones around the blades, and ingredients are shredded into fine, consistent particles. The 1.5 liter (51 oz.) glass jar is designed for clarity.</p>

	</div>

</div>

<div id="productRightCol">

</div>