<div id="productLeftCol">
	<div class="productGallery">
		<img src="/wine/1.jpeg">
	</div>

	<div id="productDetials">
		<h1>Refurbished Breville IKON Hemisphere</h1>

		<div class="productStats">
			<div class="row">
					<p class="key">Manufacturer</p>
					<p class="value">Breville</p>
			</div>
			<div class="row">
				<p class="key">Dimensions</p>
				<p class="value">3ft x 1ft x 1ft</p>
			</div>
			<div class="row">
				<p class="key">Condtion</p>
				<p class="value">Like new</p>
			</div>
		</div>

		<p class="productParagraph">The Breville IKON Die-Cast Hemisphere Blender is perfect for ice-crushing, blending and making your favorite smoothies or drinks. The patented hemisphere bowl blade system utilizes a large, semicircular shredding blade positioned to hug the uniquely shaped bowl. Because of this design, there are no still zones around the blades, and ingredients are shredded into fine, consistent particles. The 1.5 liter (51 oz.) glass jar is designed for clarity.</p>

	</div>

</div>

<div id="productRightCol">
	<div class="widget bidWidget">
		<div class="row">
			<p>Enter <span>$28.00</span> or more:</p>
		</div>
		<div class="row amountRow">
			<input type="text" placeholder="$">
			<p>Current Bid: <span>$27.00</span></p>
		</div>
		<a href="#">
			<div>Place bid</div>
		</a>
	</div>



<!-- 	<div class="widget">
	  <div class="widget-inner">
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	  </div>
	</div>

	<div id="bidWidget" class="widget">
	  <div class="widget-inner">
	    <p class="current-price">$400 <span class="currency">USD</span></p>
	    <div class="btn">
	      <div class="btn-left">$1000</div>
	      <div class="btn-right">Bid</div>
	      <div style="clear: both;"></div>
	    </div>
	  </div> -->

</div>