<div class="filter-top">
  <h1>Hello</h1>
</div>

<div class="filter-left">
  <h1>Hello</h1>
</div>

<div class="post-column">
  <div class="post-item">
    <h1>Post item</h1>
  </div>
  <div class="post-item">
    <h1>Post item</h1>
  </div>
  <div class="post-item">
    <h1>Post item</h1>
  </div>
</div>