<div class="filter-left">
  <h4>Filter results by:</h4>
  <h5>How soon until the auction ends</h5>
  <h5>Fixed price only</h5>
  <h5>Price range</h5>
  <h5>Returns accepted</h5>
</div>

<div class="search-bar">
  <p contenteditable>Search bar</p>
</div>

<div class="filter-top">

  <p class="more-filters">More filters</p>

  <h5>Sort by:</h5>

  <div class="filter-unit">
    <p>Price</p>
    <span class="filter-arrow current-filter-down"></span>
  </div>

  <div class="filter-unit">
    <p>Time left</p>
    <span class="filter-arrow"></span>
  </div>

  <div class="filter-unit">
  <p>Distance</p>
    <span class="filter-arrow"></span>
  </div>

  <div class="tab-open">
    <p>Open in new tab</p>
    <span class="yes-toggle" data-toggle-name="new-tab">Yes</span>
  </div>

</div>

<div class="post-column">

  <a href="https://www.github.com" target="_blank">
    <div class="post-item" data-url="http://facebook.com">
      <div style="background-image: url(assets/arduino/3.jpg);" class="post-image"></div>

      <h4>Bose OE2 on-ear headphones - new</h4>
      <p class="description">Enjoy listening to your favorite music on the go with amazing sound clarity and quality on the Bose QC15 headphones that provide up to 35 1.</p>

      <div class="post-info">
        <h5>4d 47m 48s</h5>
        <p>Time left</p>
      </div>

      <div class="post-info">
        <h5>$5</h5>
        <p>Shipping</p>
      </div>

      <div class="post-info">
        <h5 class="bid-amount">$172</h5>
        <p>13 bids</p>
      </div>
    </div>
  </a>


  <a href="https://www.github.com" target="_blank">
    <div class="post-item" data-url="http://facebook.com">
      <div style="background-image: url(assets/arduino/2.jpg);" class="post-image"></div>

      <div class="post-text">
        <h4>Bose OE2 on-ear headphones - new</h4>
        <p class="description">Enjoy listening to your favorite music on the go with amazing sound clarity and quality on the Bose QC15 headphones that provide up to 35 1.</p>
      </div>

      <div class="post-numbers">
        <h5 class="bid-amount">$172</h5>
        <p>13 bids</p>

        <h5 class="post-countdown">4d 47m 48s</h5>
        <p>Time left</p>
      </div>
    </div>
  </a>
</div>

<script type="text/javascript">

(function(){
var post = $('.post-column').html();
$('.post-column').append(post).append(post).append(post);

})();

</script>