<div class="filter-top">
  <h1>Hello</h1>
</div>

<div class="filter-left">
  <h1>Hello</h1>
</div>

<div class="post-column">

  <div class="post-item">
    <div style="background-image: url(assets/fan/2.jpeg);" class="post-image"></div>

    <h4>Bose OE2 on-ear headphones - new</h4>
    <p class="description">Enjoy listening to your favorite music on the go with amazing sound clarity and quality on the Bose QC15 headphones that provide up to 35 1.</p>

    <div class="post-info">
      <h6>Time left:</h6>
      <p>4d 47m 48s</p>
    </div>

    <div class="post-info">
      <h6>Shipping:</h6>
      <p>$5</p>
    </div>

    <div class="post-info">
      <h6>Current Bid</h6>
      <p>$172</p>
    </div>
  </div>


  <div class="post-item">
    <div style="background-image: url(assets/fan/2.jpeg);" class="post-image"></div>

    <h4>Bose OE2 on-ear headphones - new</h4>
    <p class="description">Enjoy listening to your favorite music on the go with amazing sound clarity and quality on the Bose QC15 headphones that provide up to 35 1.</p>

    <div class="post-info">
      <h5>4d 47m 48s</h5>
      <p>Time left</p>
    </div>

    <div class="post-info">
      <h5>$5</h5>
      <p>Shipping</p>
    </div>

    <div class="post-info">
      <h5 class="bid-amount">$172</h5>
      <p>13 bids</p>
    </div>
  </div>
</div>

<script type="text/javascript">

// (function(){
// var post = $('.post-column').html();
// console.log(post);
// $('.post-column').append(post).append(post).append(post);

// })();

</script>