<div class="column column-left">

  <%= image_tag "click_to_upload.png", class: "post-field" %>

  <h1 class="post-field input">Enter title here</h1>

  <p class="post-field input">Enter product description here. Up to 450 characters. The best descriptions are to the point, clearly describe the condtion of what you're selling, say a little bit about your and why you're selling it, and a little humor.</p>
</div>

<!-- BELOW HERE TODO -->

<div class="column column-right">

  <div id="saveButton" class="btn btn-large">Save</div>

  <div id="publishBtn" class="btn btn-large btn-green">Post</div>

  <div class="widget">
    <p>Enter starting amount:</p>
    <input id="startAmount" type="text" placeholder="Starting Amount">
  </div>

  <div class="widget">
    <%= image_tag current_user.thumbnail_url, class: "user-icon medium" %>
    <h4><%= current_user.name %></h4>
    <p><%= current_user.description %></p>
  </div>

  <div class="widget">
    <h4>Shipping Information</h4>
    <ul class="checkboxes">
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <ul class="options clearfix">
      <li>Local pickup only</li>
      <li>Delivery by mail only</li>
      <li>Local pickup or mail delivery, buyer chooses</li>
      <li class="zip">My zip code is: <span class="editable">zip</span> and the buyer must be within <span class="editable">xx</span> miles from me to do a local pickup.</li>
      <li></li>
    </ul>
  </div>

</div>
