<div class="column column-left">

  <%= image_tag "click_to_upload.png", class: "post-field" %>

  <h1 class="post-field input">Enter title here</h1>

  <p class="post-field input">Enter product description here. Up to 450 characters. The best descriptions are to the point, clearly describe the condtion of what you're selling, say a little bit about your and why you're selling it, and a little humor.</p>
</div>

<!-- BELOW HERE TODO -->

<div class="column column-right">

  <div id="publish" class="btn btn-large btn-green">Post</div>

  <div id="bid" class="widget">
    <p>Enter starting amount:</p>
    <input id="startAmount" type="text" placeholder="Starting Amount">
  </div>

  <div id="user" class="widget">
    <%= image_tag current_user.thumbnail_url, class: "user-icon medium" %>
    <h4><%= current_user.name %></h4>
    <p><%= current_user.description %></p>
  </div>

  <!-- For Testing -->
  <div id="toggle-editable" class="btn btn-large">Toggle Editable</div>

</div>