/* Thematic Colors */
$orange: #e15429;
$blue:   #5429e1;
$green:  #29e154;
$red:    #e1295a;

/* Affects */
$yellow:     #fffeca;
$grey:       #3e3e3e;
$light-grey:  #646464;
$widget-grey: #f2f2f2;

/* Social */
$fb-blue: #3B5998;
$linkedin-blue: #4875B4;

/* Dimensions */
$radius: 3px;


/* Widget */

@mixin widget( $color: $widget-grey ) {
  background-color: $color;
  border-radius: $radius;
  padding: 10px;
}


/* Flash */

@mixin flash( $color: $yellow ) {
  background-color: $color;
  margin: -5px 0px 15px;
  padding: 1% 3%;
  border-radius: $radius;

  div,  img {
    float: left;
  }

  img {
    width: 23px;
    margin-right: 20px;
  }

  div p {
    padding: 5px 0px 7px;
    margin-bottom: 3px;
    color: lighten($grey, 10%);
  }

}

.flash, .flash.warning {
  @include flash($yellow);
}

.flash.success {
  @include flash($green);
}

.flash.error {
  @include flash($red);

  div p {
    color: white;
  }
}

/* Big Button */

@mixin big-button( $color: $green ) {
  width: 300px;
  height: 38px;
  border-radius: $radius;
  font-size: 22px;
  color: $grey;
  background: $color;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 15px 0px 0px;

  &:hover {
    cursor: pointer;
    background: darken($color, 15%);
  }
}

/* Checkboxes */

.unchecked {
  width: 16px;
  height: 16px;

  background: url('check_sprite2.png') no-repeat 0px 0px;

  &:hover {
    background: url('check_sprite2.png') no-repeat 0px -21px;
    width: 18px;
    cursor: pointer;
  }
}

.checked {
  background: url('check_sprite2.png') no-repeat 0 -44px;
  width: 17px;
  height: 16px;
}

/* Blackout */

.blackout {
  display: none;
  width: 100%;
  height: 100%;

  z-index: 9999999;

  position: fixed;
  left: 0px;
  top: 0px;

  background-color: rgba(62, 62, 62, 0.49);
}

.blackout:hover {
  cursor: pointer;
}

/* Modal */

.modal {
  display: none;
  width: 500px;
  height: 310px;

  z-index: 999999999;

  position: fixed;
  top: 100px;
  left: 30%;

  background-color: white;
  border-radius: $radius;
}


/* Typography */

p {
  line-height: 1.4em;
  color: $grey;
}

a {
  color: $grey;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: $grey;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 10px;
}

h2 {
  color: $light-grey;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 8px;
}

h3 {
  color: $grey;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  margin-bottom: 6px;
}

h4 {
  color: #a0a0a0;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  margin-bottom: 5px;
}

h5 {
  color: $grey;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px;
}

h6 {
  color: $grey;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px;
}

/* Utility */

.clear {
  clear: both;
}