/* ---------------
Bidsy colors
---------------*/
$orange: #e15429;
$blue: #5429e1;
$green: #29e154;
$red: #e1295a;

$yellow: #fffeca; // used for flash and editable background

$grey: #3e3e3e;
$lightGrey: #646464;
$widgetGrey: #f2f2f2;

$fb_blue: #3B5998;
$linkedIn_blue: #4875B4;

$radius: 3px;


@mixin widget( $color: $widgetGrey ) {
  background-color: $color;
  border-radius: 3px;
  padding: 10px;
  -webkit-border-radius: $radius;
}

/* ---------------
Flash Styling
---------------*/

$flashGreen: $green;
$flashYellow: $yellow;
$flashRed: $red; // Need to find a better flash red

@mixin flash($color: $flashYellow) { // default to yello warning flash
  background-color: $color;
  margin: -5px 0px 15px;
  padding: 1% 3%;
  border-radius: $radius;
  border: 3px solid darken($color, 35%);

  div,  img {
    float: left;
  }

  img {
    width: 23px;
    margin-right: 20px;
  }

  div p {
    padding: 5px 0px 7px;
    margin-bottom: 3px;
    // border-bottom: 2px solid darken($color, 40%);
    color: lighten($grey, 10%);
  }

}

.flash div, .flash img {
  float: left;
}

.green {
  @include flash($flashGreen);
}

.yellow {
  @include flash($flashYellow);
}

.red {
  @include flash($flashRed);
  div p {
    color: white;
  }
}

/* ---------------
Big button styling, used on the post page (eg "save" and "post")
---------------*/

@mixin bigButton( $color: $green ) {
  width: 300px;
  height: 38px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 22px;
  color: $grey;
  background: $color;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 15px 0px 0px;

  &:hover {
    cursor: pointer;
    background: darken($color, 15%);
  }
}


/* ---------------
Font styling
---------------*/

p {
  line-height: 1.4em;
  color: $grey;
}

a {
  color: $grey;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: $grey;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 10px;
}

h2 {
  color: $lightGrey;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 8px;
}

h3 {
  color: $grey;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  margin-bottom: 6px;
}

h4 {
  color: #a0a0a0;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  margin-bottom: 5px;
}

h5 {
  color: $grey;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px;
}

h6 {
  color: $grey;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px;
}


.clear {
  clear: both;
}