.home-block {
  float: left;
  padding-top: 150px;
  text-align: center;
  width: 450px;

  h1 {
    font-size: 42px;
    margin-bottom: 90px;
  }

  p {
    margin-top: 70px;
  }

  input, a {
    border-radius: 8px;
    box-sizing: border-box;
    display: block;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    padding: 0 .25em;
    text-align: center;
    width: 390px;
  }

  input {
    border: 2px solid $blue;

    &:focus {
      border-color: darken($blue, 15%);
      outline: none;
    }
  }

  a {
    background-color: $blue;
    color: white;

    &:hover {
      background-color: darken($blue, 15%);
      text-decoration: none;
    }
  }
}
