.login {
  margin: 100px auto 0px;
  text-align: center;

  h1 {
    font-size: 40px;
    margin-bottom: 85px;
  }
}

.logins {
  height: 100px;
  margin: 0 auto;
  text-align: center;

  span {
    margin: 0px 15px;
  }

  .facebook-login {
    background: $fb-blue;
    border-radius: 3px;
    color: white;
    padding: 8px 24px;

    &:hover {
      background: darken($fb-blue, 15%);
      text-decoration: none;
    }
  }

  .linkedin-login {
    background: $linkedin-blue;
    border-radius: 3px;
    color: white;
    padding: 8px 24px;

    &:hover {
      background: darken($linkedin-blue, 15%);
      text-decoration: none;
    }
  }
}
