@import "normalize";
@import "boiler";
@import "posts";

::selection {
  color: white;
  background-color: $blue;
}

/* Header Styles */

#header {
  background-color: $orange;
  margin-bottom: 20px;
}

#header nav {
  width: 960px;
  margin: 0 auto;
}

#header .logo {
  display: inline-block;
  padding: 4px 0;
}

#header nav ul {
  height: 50px;
  float: right;

  li {
    float: left;
    margin-left: 10px;
    height: 100%;

    a {
      font-size: 15px;
      display: block;
      padding: 17px 5px 18px;
      color: white;

      &:hover {
        background: $blue;
        text-decoration: none;
      }
    }

    .user-icon {
      float: left;
      margin-top: -4px;
      margin-right: 3px;
    }
  }
}

/* Site Container */

.container {
  width: 960px;
  margin: 0px auto;
}


/* Home Page: */

.home-block {
  width: 450px;
  float: left;

  padding-top: 150px;

  text-align: center;
}

.home-block h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 90px;
}

.home-block p {
  margin-top: 70px;
}

.home-block input {
  text-align: center;
  width: 390px;
  font-size: 22px;
  height: 43px;
  font-weight: bold;
  margin: -12px auto 0px;
  border-radius: 8px;
  border: 2px solid $blue;
}

.home-block a {
  background-color: $blue;
  color: white;
  padding: 8px 35px;
  font-weight: bold;
  font-size: 24px;
  border-radius: 8px;
}

.home-block a:hover {
  background-color: darken($blue, 15%);
  text-decoration: none;
}

/* Login Page */

.login {
  text-align: center;
  margin: 100px auto 0px;
  h1 {
    margin-bottom: 85px;
    font-size: 40px;
  }
}

.logins {
  height: 100px;
  margin: 0 auto;
  text-align: center;

  span {
    margin: 0px 15px;
  }

  .facebook-login {
    background: $fb-blue;
    color: white;
    padding: 8px 24px;
    border-radius: 3px;
    &:hover {
      background: darken($fb-blue, 15%);
      text-decoration: none;
    }
  }

  .linkedin-login {
    background: $linkedin-blue;
    color: white;
    padding: 8px 24px;
    border-radius: 3px;
    &:hover {
      background: darken($linkedin-blue, 15%);
      text-decoration: none;
    }
  }
}

/* Filters - used on the playground and /posts */

@mixin range-picker ( $width: 100px, $background: lighten($light-grey, 50%) ) {
  width: $width;
  height: 12px;
  position: relative;

  background-color: $background;
  border-radius: $radius;

  .range-min {
    position: absolute;
    top: -25px;
    left: 0px;
    width: 27px;
    text-align: center;
    background-color: $background;
    border-radius: $radius;
  }
  .range-max {
    position: absolute;
    top: -25px;
    right: 0px;
    width: 27px;
    text-align: center;
    background-color: $background;
    border-radius: $radius;
  }

  .min-picker, .max-picker {
    position: absolute;
    top: -3px;
    left: 2px;

    width: 12px;
    height: 17px;
    border-radius: 5px;

    background-color: darken($background, 25%);

    &:hover {
      cursor: pointer;
      background-color: darken($background, 35%);
    }
  }
}

.default-range {
  @include range-picker( 200px );
}























