.filter-top {
  width: 100%;
  height: 60px;
  margin-bottom: 15px;

  border-radius: $radius;
  background-color: $widget-grey;
}

.filter-left {
  float: left;
  width: 300px;
  min-height: 500px;

  border-radius: $radius;
  background-color: $widget-grey;
}

.post-column {
  float: left;
  width: 645px;
  min-height: 900px;

  margin-left: 15px;
}

.post-item {
  width: 635px;
  height: 125px;
  padding: 5px;
  background-color: $widget-grey;
  border-radius: $radius;
  margin-bottom: 15px;
}















