$filter-background: $widget-grey;
$post-item-background: darken($widget-grey, 7%);

.more-filters {
  position: absolute;
  left: -100px;
  top: 12px;

  color: lighten($grey, 20%);

  padding: 4px 6px;
  border-radius: $radius;

  font-size: 13px;
  text-align: center;
  background: darken($widget-grey, 15%);

  &:hover {
    cursor: pointer;
    background-color: darken($widget-grey, 25%);
  }
}

.search-bar {
  width: 645px;
  height: 45px;

  margin-bottom: 15px;
  margin-left: 15px;
  float: left;

  border-radius: 8px;
  background-color: white;

    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border: 2px solid #5429e1;
}

.filter-top {
  width: 645px;
  height: 45px;
  position: relative;

  margin-bottom: 15px;
  margin-left: 15px;
  float: left;

  border-radius: $radius;
  background-color: $filter-background;

  h5 {
    margin-left: 36px;
    margin-right: 30px;
    margin-top: 13px;
    font-style: italic;
    float: left;
    font-weight: 400;
    color: lighten($grey, 30%);
    float: left;
  }

  // & > p {
  //   width: 70px;
  //   margin-left: 51px;
  //   margin-top: 10px;
  //   padding: 4px 4px;
  //   float: left;

  //   font-size: 13px;

  //   border-radius: $radius;

  //   text-align: center;
  //   background: darken($widget-grey, 15%);

  //   &:hover {
  //     cursor: pointer;
  //     background: darken($widget-grey, 30%);
  //   }
  // }

  .filter-unit {
    float: left;
    position: relative;
    width: 76px;
    min-height: 22px;

    padding: 4px 6px 0px 3px;
    margin: 10px 0px 0px 44px;

    border-radius: $radius;

    font-size: 13px;
    text-align: center;
    background: darken($widget-grey, 15%);

    & > p {
      position: absolute;
      left: 4px;
      margin-bottom: 4px;
    }

    span.filter-arrow {
      position: absolute;
      top: 9px;
      right: 4px;
      background: url('dot-filter-sprite.png') no-repeat -3px -4px;
      width: 8px;
      height: 9px;
    }

    span.current-filter-down {
      background: url('dot-filter-sprite.png') no-repeat -1px -33px;
      width: 12px;
      height: 7px;
    }

    span.current-filter-up {
      background: url('dot-filter-sprite.png') no-repeat -1px -44px;
      width: 12px;
      height: 7px;
    }

    &:hover {
      cursor: pointer;
      background-color: darken($widget-grey, 25%);
    }
  }

  .tab-open {
    margin-left: 44px;
    font-size: 10px;
    margin-top: 4px;
    float: left;
    text-align: center;

    p {
      margin: 0px;
    }

    span {
      position: relative;
      top: 5px;
      padding: 2px 11px;
      border-radius: $radius;
      background: darken($widget-grey, 15%);

      &:hover {
        cursor: pointer;
        background: darken($widget-grey, 30%);
      }
    }
  }
}

.filter-left {
  float: left;
  opacity: .001;
  width: 110px;
  // width: 280px;
  padding: 0px 10px;
  min-height: 500px;

  border-radius: $radius;
  background-color: $filter-background;

  & > h4 {
    font-style: italic;
    font-weight: 400;
    color: #8b8b8b;
  }
}

.post-column {
  float: left;
  width: 645px;
  min-height: 900px;

  margin-left: 15px;
}

$post-height: 125px;
$bottom-row-height: 50px;

.post-item {
  width: 635px;
  height: $post-height;
  padding: 5px;
  background-color: $post-item-background;
  border-radius: $radius;
  margin-bottom: 15px;

  &:hover {
    padding: 4px;
    border: 1px solid darken(#e3e3e3, 5%);
    box-shadow:  0px 0px 5px 5px lighten(#e3e3e3, 5%);
    cursor: pointer;
  }

  .post-image {
    @include crop-image-square ($post-height);
    background-size: 100% 100%;

    margin-right: 10px;
    float: left;

    border-radius: $radius;
  }

  h4  {
    font-size: 19.5px;
    font-weight: 600;
    margin: 0px;
    float: left;
    width: 480px;
  }

  p.description {
    font-size: 13px;
    float: left;
    width: 480px;
    color: lighten($grey,20%);
  }

  .post-info {
    width: 115px;
    margin-left: 39px;
    margin-top: -9px;
    height: $bottom-row-height;
    float: left;
    text-align: center;

    h5 {
      margin: 10px 0px -1px;
      font-weight: lighter;

      &.bid-amount {
        font-weight: bold;
        font-size: 21px;
        margin-top: 7px;
      }
    }

    p {
      font-size: 14px;
      margin-bottom: 0px;
      font-style: italic;
      color: lighten($grey, 20%);
    }

  }

  .bid-button {
    width: 115px;
    height: $bottom-row-height;


    &:hover {
      background: $green;
    }
  }
}

.post-item {
  width: 635px;
  height: $post-height;
  padding: 5px;
  background-color: $post-item-background;
  border-radius: $radius;
  margin-bottom: 15px;

  &:hover {
    padding: 4px;
    border: 1px solid darken(#e3e3e3, 5%);
    box-shadow:  0px 0px 5px 5px lighten(#e3e3e3, 5%);
    cursor: pointer;
  }

  .post-image {
    @include crop-image-square ($post-height);
    background-size: 100% 100%;

    margin-right: 10px;
    float: left;

    border-radius: $radius;
  }

  .post-text {
    width: 380px;
    height: 100%;
    float: left;

    h4, p {
      width: 350px;
    }
  }

  .post-numbers {
    width: 100px;
    height: 100%;
    float: left;

    text-align: center;

    h5 {
      font-weight: lighter;
      margin: 0px;

      &.bid-amount {
        font-weight: 600;
        font-size: 21px;
      }

      &.post-countdown {
        margin-top: 26px;
      }
    }
    p {
      color: lighten($grey, 25%);
      font-style: italic;
      margin: 0px;
    }
  }

/*

  h4  {
    font-size: 19.5px;
    font-weight: 600;
    margin: 0px;
    float: left;
    width: 480px;
  }

  p.description {
    font-size: 13px;
    float: left;
    width: 480px;
    color: lighten($grey,20%);
  }

  .post-info {
    width: 115px;
    margin-left: 39px;
    margin-top: -9px;
    height: $bottom-row-height;
    float: left;
    text-align: center;

    h5 {
      margin: 10px 0px -1px;
      font-weight: lighter;

      &.bid-amount {
        font-weight: bold;
        font-size: 21px;
        margin-top: 7px;
      }
    }

    p {
      font-size: 14px;
      margin-bottom: 0px;
      font-style: italic;
      color: lighten($grey, 20%);
    }

  }

  .bid-button {
    width: 115px;
    height: $bottom-row-height;


    &:hover {
      background: $green;
    }
  }
*/
}





