/* Structure of Post Page */

.column {
  float: left;

  &.column-left {
    width: 635px;
    margin-right: 20px
  }

  &.column-right {
    width: 300px;
  }
}

/* Editable Styles */

.post-field.editable {
  background: $yellow;
  padding: 4px 10px;

  &:hover, &:active, &:focus {
    padding: 2px 8px;
    border: 2px dashed #e1295a;
    outline: none;
  }
}

/* Post Image */

img .post-field {
  width: 635px;
  max-height: 635px;
}
