/* Structure of Post Page */

.column {
  float: left;

  &.column-left {
    width: 635px;
    margin-right: 20px
  }

  &.column-right {
    width: 300px;
  }
}

/* Editable Styles */

.post-field.editable {
  padding: 4px 10px;
  background: $yellow;
  border-radius: $radius;

  &:hover, &:active, &:focus {
    padding: 2px 8px;
    border: 2px dashed #e1295a;
    outline: none;
  }
}

/* Post Image */

img.post-field {
  width: 635px;
  max-height: 635px;
  border-radius: $radius;
}

/* Post Description */

.post-description {
  float: left;
  margin-right: 10px;
  width: 355px;
}

/* Post Details */

.post-details {
  float: left;
  width: 250px;

  .detail {
    @extend .clearfix
  }

  .detail p {
    float: left;
  }

  .detail [data-field] {
    float: right;
  }
}
