/* Structure of Post Page */

.column {
  float: left;

  &.column-left {
    width: 635px;
    margin-right: 20px
  }

  &.column-right {
    width: 300px;
  }
}

/* Editable Styles */

.post-field.editable {
  padding: 4px 10px;
  background: $yellow;
  border-radius: $radius;

  &:hover, &:active, &:focus {
    padding: 2px 8px;
    border: 2px dashed #e1295a;
    outline: none;
  }
}

/* Post Image */

img.post-field {
  width: 635px;
  max-height: 635px;
  border-radius: $radius;
}

/* Post Description */

.post-description {
  float: left;
  margin-right: 10px;
  width: 355px;
}

/* Post Details */

.post-details {
  float: left;
  width: 250px;

  .detail {
    @extend .clearfix
  }

  .detail p {
    float: left;
  }

  .detail [data-field] {
    float: right;
  }
}

/* COST WIDGET */

#cost {
  position: relative;
  text-align: center;
  min-height: 60px;

  h4 {
    font-size: 15px;
  }


  .type-selector {
    width: 300px;
    margin-left: -10px;

    border-bottom: 1px solid lighten($light-grey, 45%);

    p {
      float: left;
      margin-left: 16px;
      width: 126px;
      margin-bottom: 0px;
      background: lighten($light-grey, 45%);
      color: $light-grey;
      padding: 4px 0px;
      font-size: 14px;

      border-top-right-radius: $radius;
      border-top-left-radius: $radius;

      &:hover {
        cursor: pointer;
        background: lighten($light-grey, 37%);
      }

      &:active {
        background: lighten($light-grey, 25%);
      }
    }
  }

  .type-placehoder {
    height: 150px;
    background-image: url('arrow-up.png');
    background-repeat: no-repeat;
    background-position:center;

    margin: 0px auto;
  }

  .types {

    div {
      display: none;
      width: 280px;
      min-height: 150px;
      position: absolute;
      top: 78px;

      p.editable {
        width: 110px;
        margin: 0px auto;
      }

      p.fee {
        font-size: .7em;
        margin-top: 4px;
        font-style: italic;
      }

      .selected {
        background: lighten($light-grey, 25%);
      }
    }
  }
}

/* USER WIDGET */

#user {
  .user-icon {
    float: left;
    margin-right: 10px;
  }
}

/* DELIVERY WIDGET */

#delivery {
  h4 {
    text-align: center;
    margin-bottom: 15px;
  }

  .checkboxes li {
    margin-bottom: 20px;
  }
}