/* ---------
Bidsy colors
------------ */
$orange: #e15429;
$blue:   #5429e1;
$green:  #29e154;

$grey:        #3e3e3e;
$light_grey:  #646464;
$widget_grey: #f2f2f2;

/* ----------
Social Colors
------------- */
$facebook_blue: #3B5998;
$linkedin_blue: #4875B4;