<div class="home-block">
  <h1>Buy simply</h1>

  <input placeholder="Search for cars, furniture, etc" type="text" name="field"/>

  <p>Bidsy does more than any other auction site to ensure you're getting what you pay for. </p>
</div>

<div class="home-block">
  <h1>Sell beautifully</h1>

  <%= link_to "I want to sell something", new_post_path %>

  <p>Post your items on a website that cares about you. No hidden fees, less risk, and no bogus buyers.</p>
</div>