<button class="toggle-modal">Toggle Popup</button>

<div class="modal">
  <div>
    <p>This is a modal</p>
  </div>
</div>

<script type="text/javascript">

$('.toggle-modal').on('click', function (e) {
  toggle_modal();
});

</script>