<h1>Doesn't everyone want a playground?</h1>
<p>This is a page to show off the sexy css/js of this site, and when I say css/js I really mean scss/coffeescript, but you get the idea. Anyway these are our creations.</p>


<section id="typography">
  <h1>Typography</h1>
  <hr>

  <h1>h1. Heading 1</h1>
  <h2>h2. Heading 2</h2>
  <h3>h3. Heading 3</h3>
  <h4>h4. Heading 4</h4>
  <h5>h5. Heading 5</h5>
  <h6>h6. Heading 6</h6>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>

<section id="button">
  <h1>Buttons</h1>
  <hr>

  <h5>Standard Button</h5>
  <div class="btn">Submit</div>

  <h5>Other Colors</h5>
  <div class="btn btn-green">Win</div>
  <div class="btn btn-red">Errors</div>

  <h5>Other Sizes</h5>
  <div class="btn btn-large">Large</div>
  <div class="btn btn-small">Small</div>
</section>

<section id="modal">
  <h1>Modal</h1>
  <hr>

  <div class="btn btn-large toggle-modal">Show Modal</div>
  <div class="modal"></div>
</section>

<section id="flash">
  <h1>Flash</h1>
  <hr>

  <div class="flash">
    <p>This is a boring flash.</p>
    <p>Furthermore this is another line.</p>
  </div>

  <div class="flash flash-warning">
    <p>This is a waning to all people that bad things are coming if you don't commit often.</p>
  </div>

  <div class="flash flash-success">
    <p>This is a waning to all people that bad things are coming if you don't commit often.</p>
  </div>

  <div class="flash flash-error">
    <p>This is a waning to all people that bad things are coming if you don't commit often.</p>
  </div>
</section>

<section id="checkbox">
  <h1>Checkboxes</h1>
  <hr>

  <h5>Foods</h5>
  <ul id="foods" class="checkboxes">
    <li>Eggs</li>
    <li>Meat</li>
    <li>Grains</li>
  </ul>

  <h5>Meats</h5>
  <ul id="meats" class="checkboxes">
    <li class="checked">Pork</li>
    <li>Beef</li>
    <li>Chicken</li>
  </ul>

  <div id="meats-value" class="btn">Meats Value</div>

  <br><br>
  <p>Notice how we can have two different checkbox area's on one page.</p>
  <p>To have a box as checked on load, just add the class "checked" to the &lt;li&gt;.</p>

</section>

<section id="image-slider">
  <h1>Image slider:</h1>
  <hr>

  <div class="image-slider-container">

    <div class="main-image">
      <img src="assets/bose/1.jpeg">
    </div>

    <div class="image-picker">
      <div class="item-thumbnail current-main-image">
        <img src="assets/bose/1.jpeg">
      </div>
      <div class="item-thumbnail">
        <img src="assets/bose/2.jpeg">
      </div>
      <div class="item-thumbnail">
        <img src="assets/bose/3.jpeg">
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>

</section>
















